.header {
  display: flex;
  align-items: center;

  height: 80px;
  width: 100%;
  background-color: #611772;
}

.header a {
  padding: 10px 20px;

  text-decoration: none;
  color: #ebd8ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
}

.activeLink {
  text-decoration: underline;
  color: #ffffff;
}

.container {
  padding: 20px;

  min-height: 100vh;
  background-color: #351340;
}
