.inactiveLink {
  padding: 10px 20px;

  text-decoration: none;
  color: #ebd8ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  transition: color 250ms linear;
}

.inactiveLink:hover {
  color: #da38ff;
}

.activeLink {
  text-decoration: underline;
  color: #ffffff;

  padding: 10px 20px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  transition: color 250ms linear;
}
.activeLink:hover {
  color: #da38ff;
}
